.users-form{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: -20px;
    font-size: 2rem;
    height: 25vh;
}
.users-join-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 750px;
    margin-bottom: 30px;
    input {
        all: unset;
        padding: 15px 20px;
        border-radius: 5px;
        background-color: rgba(206,203,203, 0.2);
        margin-bottom: 5px;
        width: 50%;
        &[type="submit"] {
            font-weight: bold;
            background-color: $mainColor;
            color: #fff;
            text-align: center;
            cursor: pointer;
        }
    }
}

.users-login-form{
    @extend .users-join-form;
}