@keyframes goAway {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.userUpdateMessages{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 20px;
    animation: goAway 1s ease-in-out forwards;
    animation-delay: 1s;
    span {
        font-size: 30px;
        color: white;
    }
    z-index: 999;
}